@page "/"
@using Car_Rental.Business.Classes
@inject Business b

<h3>Vehicles</h3>
<table>
    <tr>
        <th>Registration Number</th>
        <th>Make</th>
        <th>Type</th>
        <th>Odometer</th>
        <th>Cost/Km</th>
        <th>Cost/Day</th>
        <th>Availability</th>
    </tr>

    @foreach (var car in b.GetVehicles())
    {
        <tr>
            <td>@car.RegNr</td>
            <td>@car.Make</td>
            <td>@car.Type</td>
            <td>@car.Odometer km</td>
            <td>$@car.CostKm</td>
            <td>$@car.CostDay</td>
            <td>
                <span class="booking-status @(car.Status == VehicleStatus.Booked ? "rented" : "")">
                    @car.Status
                </span>
            </td>
        </tr>
    }

</table>

<h3>Bookings</h3>
<table>
    <tr>
        <th>Registration Number</th>
        <th>Customer</th>
        <th>Km rented</th>
        <th>Km returned</th>
        <th>Date rented</th>
        <th>Date returned</th>
        <th>Cost</th>
        <th>Status</th>
    </tr>
    @foreach (var booking in b.GetBookings())
    {
        var returned = (booking.DateReturned - booking.DateRented).Days >= 0;
        <tr>
            <td>@booking.Vehicle.RegNr</td>
            <td>@booking.Customer.FullName</td>
            <td>@booking.KmRented</td>
            <td>@booking.KmReturned</td>
            <td>@booking.DateRented.Date.ToShortDateString()</td>
            <td>@(returned ? booking.DateReturned.Date.ToShortDateString() : "")</td>
            <td>@(returned ? "$" + booking.GetCost() : "")</td>
            <td><span class="booking-status @(returned ? "" : "rented" )">@booking.Status</span></td>
        </tr>
    }
</table>
<h3>Customers</h3>
<table>
    <tr>
        <th>SSN</th>
        <th>Last name</th>
        <th>First name</th>
    </tr>
    @foreach (var customer in b.GetCustomers())
    {
        <tr>
            <td>@customer.Ssn</td>
            <td>@customer.LastName</td>
            <td>@customer.FirstName</td>
        </tr>
    }
</table>